{% extends 'dashboard/admin-base.html' %}
{% load static %}
{% block title %}Add Student{% endblock %}
{% block breadcrumb %}Add Student{% endblock %}
{% block maintitle %}Add Student{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <form method="post" enctype="multipart/form-data" action="{% url 'students:student' %}">
            {% csrf_token %}
            {% with messages=messages %}
                {% include 'dashboard/alert.html' %}
            {% endwith %}

            <div class="card mb-4">
                <div class="card-header h5 py-3">Personal Details</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="{{ form.user_form.title.id_for_label }}" class="form-label">Title</label>
                            {{ form.user_form.title }}
                            {% include "parts/error.html" with errors=form.user_form.title.errors %}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.user_form.first_name.id_for_label }}" class="form-label">First
                                Name</label>
                            {{ form.user_form.first_name }}
                            {% include "parts/error.html" with errors=form.user_form.first_name.errors %}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.user_form.middle_name.id_for_label }}" class="form-label">Middle
                                Name</label>
                            {{ form.user_form.middle_name }}
                            {% include "parts/error.html" with errors=form.user_form.middle_name.errors %}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.user_form.last_name.id_for_label }}" class="form-label">Last
                                Name</label>
                            {{ form.user_form.last_name }}
                            {% include "parts/error.html" with errors=form.user_form.last_name.errors %}
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="{{ form.personal_info_form.gender.id_for_label }}"
                                   class="form-label">Gender</label>
                            {{ form.personal_info_form.gender }}
                            {% include "parts/error.html" with errors=form.personal_info_form.gender.errors %}
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="profile_image" class="form-label">Profile Image</label>
                            {% include 'dashboard/image-picker.html' with name=form.user_form.profile_image.name image=form.user_form.profile_image.value %}
                            {% include "parts/error.html" with errors=form.user_form.profile_image.errors %}
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="{{ form.student_form.campus.id_for_label }}" class="form-label">Campus</label>
                            {{ form.student_form.campus }}
                            {% include "parts/error.html" with errors=form.student_form.campus.errors %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.student_form.department.id_for_label }}"
                                   class="form-label">Department</label>
                            {{ form.student_form.department }}
                            {% include "parts/error.html" with errors=form.student_form.department.errors %}
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="{{ form.student_form.date_of_admission.id_for_label }}" class="form-label">Date
                                of Admission</label>
                            {{ form.student_form.date_of_admission }}
                            {% include "parts/error.html" with errors=form.student_form.date_of_admission.errors %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.student_form.admission_officer.id_for_label }}" class="form-label">Admission
                                Officer</label>
                            {{ form.student_form.admission_officer }}
                            {% include "parts/error.html" with errors=form.student_form.admission_officer.errors %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.student_form.referred_by.id_for_label }}" class="form-label">Referred
                                By</label>
                            {{ form.student_form.referred_by }}
                            {% include "parts/error.html" with errors=form.student_form.referred_by.errors %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.student_form.commencing_term.id_for_label }}" class="form-label">Commencing
                                Term</label>
                            {{ form.student_form.commencing_term }}
                            {% include "parts/error.html" with errors=form.student_form.commencing_term.errors %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.student_form.shift.id_for_label }}" class="form-label">Shift</label>
                            {{ form.student_form.shift }}
                            {% include "parts/error.html" with errors=form.student_form.shift.errors %}
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="{{ form.student_form.scholarship_details.id_for_label }}" class="form-label">Scholarship
                                Details</label>
                            {{ form.student_form.scholarship_details }}
                            {% include "parts/error.html" with errors=form.student_form.scholarship_details.errors %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.personal_info_form.date_of_birth_in_ad.id_for_label }}"
                                   class="form-label">Date of Birth</label>
                            {{ form.personal_info_form.date_of_birth_in_ad }}
                            {% include "parts/error.html" with errors=form.personal_info_form.date_of_birth_in_ad.errors %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.personal_info_form.citizenship_number.id_for_label }}"
                                   class="form-label">Citizenship Number</label>
                            {{ form.personal_info_form.citizenship_number }}
                            {% include "parts/error.html" with errors=form.personal_info_form.citizenship_number.errors %}
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="citizenship_card" class="form-label">Citizenship Card</label>
                            {% include 'dashboard/image-picker.html' with name=form.personal_info_form.citizenship_img.name image=form.personal_info_form.citizenship_img.value %}
                            {% include "parts/error.html" with errors=form.personal_info_form.citizenship_img.errors %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header py-3 h5">Permanent Address</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.permanent_address_form.address.id_for_label }}" class="form-label">Address:</label>
                            {{ form.permanent_address_form.address }}
                            {% include "parts/error.html" with errors=form.permanent_address_form.address.errors %}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.permanent_address_form.city.id_for_label }}"
                                   class="form-label">City:</label>
                            {{ form.permanent_address_form.city }}
                            {% include "parts/error.html" with errors=form.permanent_address_form.city.errors %}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.permanent_address_form.province.id_for_label }}" class="form-label">Province:</label>
                            {{ form.permanent_address_form.province }}
                            {% include "parts/error.html" with errors=form.permanent_address_form.province.errors %}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.permanent_address_form.country.id_for_label }}" class="form-label">Country:</label>
                            {{ form.permanent_address_form.country }}
                            {% include "parts/error.html" with errors=form.permanent_address_form.country.errors %}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.permanent_address_form.postcode.id_for_label }}" class="form-label">Postcode:</label>
                            {{ form.permanent_address_form.postcode }}
                            {% include "parts/error.html" with errors=form.permanent_address_form.postcode.errors %}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.permanent_address_form.contact_number.id_for_label }}"
                                   class="form-label">Contact Number:</label>
                            {{ form.permanent_address_form.contact_number }}
                            {% include "parts/error.html" with errors=form.permanent_address_form.contact_number.errors %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-header py-3 h5">Temporary Address</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.temporary_address_form.address.id_for_label }}" class="form-label">Address:</label>
                            {{ form.temporary_address_form.address }}
                            {% include "parts/error.html" with errors=form.temporary_address_form.address.errors %}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.temporary_address_form.city.id_for_label }}"
                                   class="form-label">City:</label>
                            {{ form.temporary_address_form.city }}
                            {% include "parts/error.html" with errors=form.temporary_address_form.city.errors %}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.temporary_address_form.province.id_for_label }}" class="form-label">Province:</label>
                            {{ form.temporary_address_form.province }}
                            {% include "parts/error.html" with errors=form.temporary_address_form.province.errors %}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.temporary_address_form.country.id_for_label }}" class="form-label">Country:</label>
                            {{ form.temporary_address_form.country }}
                            {% include "parts/error.html" with errors=form.temporary_address_form.country.errors %}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.temporary_address_form.postcode.id_for_label }}" class="form-label">Postcode:</label>
                            {{ form.temporary_address_form.postcode }}
                            {% include "parts/error.html" with errors=form.temporary_address_form.postcode.errors %}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.temporary_address_form.contact_number.id_for_label }}"
                                   class="form-label">Contact Number:</label>
                            {{ form.temporary_address_form.contact_number }}
                            {% include "parts/error.html" with errors=form.temporary_address_form.contact_number.errors %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Educational History Section -->
            <div class="card mb-4">
                <div class="card-header h5 py-3">Educational History</div>
                <div class="card-body educational_detail">
                    {{ form.educational_history_formset.management_form }}
                    <div id="educational-history-forms">
                        {% for form in form.educational_history_formset %}
                            <div class="dataarrange row form-row education-form">
                                <div class="col-md-6 mb-3">
                                    <label for="{{ form.degree_name.id_for_label }}" class="form-label">Degree
                                        Name</label>
                                    {{ form.degree_name }}
                                    {% include "parts/error.html" with errors=form.degree_name.errors %}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="{{ form.institution_name.id_for_label }}" class="form-label">Institution
                                        Name</label>
                                    {{ form.institution_name }}
                                    {% include "parts/error.html" with errors=form.institution_name.errors %}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="{{ form.graduation_year.id_for_label }}" class="form-label">Graduation
                                        Year</label>
                                    {{ form.graduation_year }}
                                    {% include "parts/error.html" with errors=form.graduation_year.errors %}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="{{ form.major_subject.id_for_label }}" class="form-label">Major
                                        Subject</label>
                                    {{ form.major_subject }}
                                    {% include "parts/error.html" with errors=form.major_subject.errors %}
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="certificate" class="form-label">Certificate</label>
                                    {% include 'dashboard/image-picker.html' with name=form.prefix|add:'-file' image=form.file.value %}
                                </div>
                                <button type="button" class="btn btn-danger remove-education-form m-2">Remove
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="button" class="btn btn-primary add_more_education w-100">Add More</button>
                </div>
            </div>

            <!-- Work Experience Section -->
            <div class="card mb-4">
                <div class="card-header h5 py-3">Work Experience</div>
                <div class="card-body work_experience" id="add_new_work">
                    {{ form.employment_history_formset.management_form }}
                    <div id="work-experience-forms">
                        {% for form in form.employment_history_formset %}
                            <div class="row form-row work-form">
                                <div class="col-md-6 mb-3">
                                    <label for="{{ form.employer_name.id_for_label }}" class="form-label">Employer
                                        Name:</label>
                                    {{ form.employer_name }}
                                    {% include "parts/error.html" with errors=form.employer_name.errors %}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="{{ form.title.id_for_label }}" class="form-label">Job
                                        Title:</label>
                                    {{ form.title }}
                                    {% include "parts/error.html" with errors=form.title.errors %}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="{{ form.start_date.id_for_label }}" class="form-label">Start
                                        Date:</label>
                                    {{ form.start_date }}
                                    {% include "parts/error.html" with errors=form.start_date.errors %}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="{{ form.end_date.id_for_label }}" class="form-label">End
                                        Date:</label>
                                    {{ form.end_date }}
                                    {% include "parts/error.html" with errors=form.end_date.errors %}
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="{{ form.job_description.id_for_label }}"
                                           class="form-label">Description:</label>
                                    {{ form.job_description }}
                                    {% include "parts/error.html" with errors=form.job_description.errors %}
                                </div>
                                <button type="button" class="btn btn-danger remove-work-form m-2">Remove
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="button" class="btn btn-primary add-more w-100">Add More</button>
                </div>
            </div>

            <!-- English Language Test Score Section -->
            <div class="card mb-4">
                <div class="card-header h5 py-3">English Language Test Score</div>
                <div class="card-body test_attempted">
                    {{ form.english_test_formset.management_form }}
                    <div id="form-container">
                        {% for form in form.english_test_formset %}
                            <div class="row form-row test-form">
                                <div class="col-md-4 mb-3">
                                    <label for="{{ form.test.id_for_label }}" class="form-label">Test
                                        Name</label>
                                    {{ form.test }}
                                    {% include "parts/error.html" with errors=form.test.errors %}
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="{{ form.score.id_for_label }}" class="form-label">Score</label>
                                    {{ form.score }}
                                    {% include "parts/error.html" with errors=form.score.errors %}
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="{{ form.date.id_for_label }}" class="form-label">Date</label>
                                    {{ form.date }}
                                    {% include "parts/error.html" with errors=form.date.errors %}
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="test_certificate" class="form-label">File</label>
                                    {% include 'dashboard/image-picker.html' with name=form.prefix|add:'-files' image=form.files.value %}
                                    {% include "parts/error.html" with errors=form.files.errors %}
                                </div>
                                <button type="button" class="btn btn-danger remove-test-form m-2">Remove
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="button" class="btn btn-primary add-more-test w-100">Add More</button>
                </div>
            </div>

            <div class="card">
                <div class="card-header h5 py-3">Emergency Contacts</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.emergency_contact_form.name.id_for_label }}"
                                   class="form-label">Name:</label>
                            {{ form.emergency_contact_form.name }}
                            {% include "parts/error.html" with errors=form.emergency_contact_form.name.errors %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.emergency_contact_form.relationship.id_for_label }}"
                                   class="form-label">Relationship:</label>
                            {{ form.emergency_contact_form.relationship }}
                            {% include "parts/error.html" with errors=form.emergency_contact_form.relationship.errors %}
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="{{ form.emergency_contact_form.email.id_for_label }}"
                                   class="form-label">Email:</label>
                            {{ form.emergency_contact_form.email }}
                            {% include "parts/error.html" with errors=form.emergency_contact_form.email.errors %}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.emergency_address_form.address.id_for_label }}"
                                   class="form-label">Parent Address:</label>
                            {{ form.emergency_address_form.address }}
                            {% include "parts/error.html" with errors=form.emergency_address_form.address.errors %}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.emergency_address_form.city.id_for_label }}"
                                   class="form-label">City:</label>
                            {{ form.emergency_address_form.city }}
                            {% include "parts/error.html" with errors=form.emergency_address_form.city.errors %}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.emergency_address_form.province.id_for_label }}"
                                   class="form-label">Province:</label>
                            {{ form.emergency_address_form.province }}
                            {% include "parts/error.html" with errors=form.emergency_address_form.province.errors %}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.emergency_address_form.country.id_for_label }}"
                                   class="form-label">Country:</label>
                            {{ form.emergency_address_form.country }}
                            {% include "parts/error.html" with errors=form.emergency_address_form.country.errors %}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.emergency_address_form.postcode.id_for_label }}"
                                   class="form-label">Postcode:</label>
                            {{ form.emergency_address_form.postcode }}
                            {% include "parts/error.html" with errors=form.emergency_address_form.postcode.errors %}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.emergency_address_form.contact_number.id_for_label }}"
                                   class="form-label">Parent Contact Number:</label>
                            {{ form.emergency_address_form.contact_number }}
                            {% include "parts/error.html" with errors=form.emergency_address_form.contact_number.errors %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex mb-5 ms-3">
                <button type="submit" class="btn btn-success mt-3">Submit</button>
                <a href="" class="btn btn-secondary mt-3">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}


{% block footer %}
    <div id="form-templates" style="display: none;">
        <div class="educational_history_form">
            {% with form=form.educational_history_formset.empty_form %}
                <div class="dataarrange row form-row education-form">
                    <div class="col-md-6 mb-3">
                        <label for="{{ form.degree_name.id_for_label }}" class="form-label">Degree
                            Name</label>
                        {{ form.degree_name }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="{{ form.institution_name.id_for_label }}" class="form-label">Institution
                            Name</label>
                        {{ form.institution_name }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="{{ form.graduation_year.id_for_label }}" class="form-label">Graduation
                            Year</label>
                        {{ form.graduation_year }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="{{ form.major_subject.id_for_label }}" class="form-label">Major
                            Subject</label>
                        {{ form.major_subject }}
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="certificate" class="form-label">Certificate</label>
                        {% include 'dashboard/image-picker.html' with name="form.file" %}
                        {% if form.file and form.file.value %}
                            <div class="mt-2">
                                <img src="{{ form.file.url }}" class="img-fluid"
                                     style="max-width: 200px;" alt="Certificate">
                            </div>
                        {% endif %}
                    </div>
                    <button type="button" class="btn btn-danger remove-education-form m-2">Remove
                    </button>
                </div>
            {% endwith %}
        </div>

        <div class="employment_history_form">
            {% with form=form.employment_history_formset.empty_form %}
                <div class="row form-row work-form">
                    <div class="col-md-6 mb-3">
                        <label for="{{ form.employer_name.id_for_label }}" class="form-label">Employer
                            Name:</label>
                        {{ form.employer_name }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="{{ form.title.id_for_label }}" class="form-label">Job
                            Title:</label>
                        {{ form.title }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="{{ form.start_date.id_for_label }}" class="form-label">Start
                            Date:</label>
                        {{ form.start_date }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="{{ form.end_date.id_for_label }}" class="form-label">End
                            Date:</label>
                        {{ form.end_date }}
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="{{ form.job_description.id_for_label }}"
                               class="form-label">Description:</label>
                        {{ form.job_description }}
                    </div>
                </div>
            {% endwith %}
        </div>

        <div class="english_test_form">
            {% with form=form.english_test_formset.empty_form %}
                <div class="row form-row test-form">
                    <div class="col-md-4 mb-3">
                        <label for="{{ form.test.id_for_label }}" class="form-label">Test
                            Name</label>
                        {{ form.test }}
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="{{ form.score.id_for_label }}" class="form-label">Score</label>
                        {{ form.score }}
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="{{ form.date.id_for_label }}" class="form-label">Date</label>
                        {{ form.date }}
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="test_certificate" class="form-label">File</label>
                        {% include 'dashboard/image-picker.html' with name=form.prefix|add:'-files' %}
                    </div>
                    <button type="button" class="btn btn-danger remove-test-form m-2">Remove
                    </button>
                </div>
            {% endwith %}
        </div>
    </div>

    <script src="{% static 'dashboard/assets/js/student.js' %}"></script>
{% endblock %}