<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label class="form-label">Website Name</label>
            <input type="text" name="website_name" class="form-control" placeholder="Website Name" value="{{data.website_name}}">
        </div>
    </div>

    <div class="col-md-4 mt-3">
        <div class="form-group">
            <label class="form-label">Favicon</label>
            {% with maxheight="100" %}
                {% with image=data.website_fav %}
                    {% with name="website_fav"  %}
                        {% include 'dashboard/image-picker.html' %}
                    {% endwith %}
                {% endwith %}
            {% endwith %}
        </div>
    </div>

    <div class="col-md-4 mt-3">
        <div class="form-group">
            <label class="form-label">Logo</label>
            {% with maxheight="100" %}
                {% with image=data.website_logo %}
                    {% with name="website_logo"  %}
                        {% include 'dashboard/image-picker.html' %}
                    {% endwith %}
                {% endwith %}
            {% endwith %}
        </div>
    </div>

    <div class="col-md-4 mt-3">
        <div class="form-group">
            <label class="form-label">Featured Image</label>
            {% with image=data.website_featured %}
                {% with name="website_featured"  %}
                    {% include 'dashboard/image-picker.html' %}
                {% endwith %}
            {% endwith %}
        </div>
    </div>
</div>