{% extends "dashboard/login-base.html" %}
{% block title %}Change Password{% endblock title %}

{% block content %}
<div class="container mt-4">
    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group m-1">
            <label>{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <div class="text-danger m-1">
                {{ field.errors|striptags }}
            </div>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn login-btn m-1">Change Password</button>
    </form>
</div>
{% endblock %}