{% extends "dashboard/login-base.html" %}
{% block title %}Forget Password - NATHM College{% endblock title %}

{% block content %}
<h4>Forget Password</h4>
<p>Enter your email address and we'll send you an email with instructions to reset your password.</p>

<form class="theme-form" method="post" action="{% url 'userauth:forgetpass' %}">

    {% csrf_token %}
    
    <!-- Render the form fields dynamically -->
    {{ form.as_p }}

    <div class="form-group mb-0">
        <div class="text-end mt-3">
            <button class="btn btn-success btn-block w-100" type="submit">Request Password</button>
        </div>
    </div>
</form>

<p class="mt-4 mb-0 text-center">Remember Password?<a class="ms-2" href="{% url 'userauth:login' %}">Login from here</a></p>
{% endblock content %}
