{% extends "dashboard/login-base.html" %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
<h4>Reset Password</h4>
<p>Enter your new password and confirm it to reset your password.</p>


<form class="theme-form" method="post" action="{% url 'userauth:resetpass' uidb64=uidb64 token=token %}">
    {% csrf_token %}

    {{ form.as_p }} <!-- Django automatically generates form fields -->

    {% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field in form %}
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="form-group mb-0">
        <div class="text-end mt-3">
            <button class="btn login-btn btn-block w-100" type="submit">Reset Password</button>
        </div>
    </div>
</form>

<p class="mt-4 mb-0 text-center">Remembered your password?
    <a class="ms-2" href="{% url 'userauth:login' %}">Login from here</a>
</p>
{% endblock content %}