{% extends "dashboard/login-base.html" %}
{% block title %}Reset Password - NATHM College{% endblock title %}

{% block content %}
<h4>Reset Password</h4>
<p>Enter your new password and confirm it to reset your password.</p>

<form class="theme-form" method="post" action="{% url 'userauth:resetpass' uidb64=uidb64 token=token %}">
    {% csrf_token %}
    
    <div class="form-group">
        <label for="id_new_password1">New Password</label>
        <input type="password" name="new_password1" id="id_new_password1" class="form-control" placeholder="New Password" required>
    </div>

    <div class="form-group">
        <label for="id_new_password2">Confirm Password</label>
        <input type="password" name="new_password2" id="id_new_password2" class="form-control" placeholder="Confirm Password" required>
    </div>

    <div class="form-group mb-0">
        <div class="text-end mt-3">
            <button class="btn btn-success btn-block w-100" type="submit">Reset Password</button>
        </div>
    </div>
</form>

<p class="mt-4 mb-0 text-center">Remembered your password?<a class="ms-2" href="{% url 'userauth:login' %}">Login from here</a></p>
{% endblock content %}
