{% extends 'dashboard/admin-base.html' %}
{% load static %}
{% block title %}
  Add Campus
{% endblock %}
{% block breadcrumb %}
  Add Campus
{% endblock %}
{% block maintitle %}
  Add Campus
{% endblock %}

{% block content %}
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        {% with messages=messages %}
          {% include 'dashboard/alert.html' %}
        {% endwith %}
        <form method="post" enctype="multipart/form-data" action="{% url 'dashboard:campus' %}">
          {% csrf_token %}
          
          <div class="form-group">
              <label for="id_name">Name<span class="required ms-1">*</span></label>
              {{ form.name }}
          </div>
          
          <div class="form-group">
              <label for="code">Campus Code<span class="required ms-1">*</span></label>
              {{ form.code }}
          </div>
          
          <div class="form-group">
              <label for="location">Location<span class="required ms-1">*</span></label>
              {{ form.location }}
          </div>
          
          <div class="form-group">
              <label for="contact">Contact Num<span class="required ms-1">*</span></label>
              {{ form.contact }}
          </div>
          
          <div class="form-group mt-3">
              <label for="image">Image</label>
              {{ form.image }}
          </div>
          
          <div class="form-group mt-3">
              <label for="description">Description</label>
              {{ form.description }}
          </div>
          
          <div class="flex mb-5 ms-3">
              <button type="submit" class="btn btn-success mt-3">Submit</button>
              <a href="{% url 'dashboard:campuslist' %}" class="btn btn-secondary mt-3">Cancel</a>
          </div>
      </form>   
      
      </div>
    </div>
  </div>
  <script src="{% static 'js/menu.js' %}"></script>
{% endblock %}
