{% extends 'dashboard/admin-base.html' %}
{% load static %}
{% block title %}
  Campus
{% endblock %}
{% block breadcrumb %}
  Edit Campus
{% endblock %}
{% block maintitle %}
  Edit Campus
{% endblock %}

{% block content %}
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        {% with messages=messages %}
          {% include 'dashboard/alert.html' %}
        {% endwith %}
        <form method="post" enctype="multipart/form-data" action="{% url 'dashboard:campusedit' id=campus_id %}">
          {% csrf_token %}

          <div class="form-group">
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}
                        {% if field.field.required %}
                            <span class="required ms-1">*</span>
                        {% endif %}
                    </label>
                    {% if field.name == 'image' and form.instance.image %}
                        <div class="mb-3">
                            <img src="{{ form.instance.image.url }}" alt="Current Image" class="img-fluid mb-3" style="max-width: 200px;">
                        </div>
                    {% endif %}
                    {{ field }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>        
          <div class="flex mb-5 ms-3">
            <button type="submit" class="btn btn-success mt-3">Submit</button>
            <a href="{% url 'dashboard:campuslist' %}" class="btn btn-secondary mt-3">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="{% static 'js/menu.js' %}"></script>
{% endblock %}
