{% extends 'dashboard/admin-base.html' %}
{% load static %}
{% block title %}
  Campus
{% endblock %}
{% block breadcrumb %}
  Edit Campus
{% endblock %}
{% block maintitle %}
  Edit Campus
{% endblock %}

{% block content %}
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        {% with messages=messages %}
          {% include 'dashboard/alert.html' %}
        {% endwith %}
        <form method="post" enctype="multipart/form-data" action="{% url 'dashboard:campusedit' id=campus_id %}">
          {% csrf_token %}
            <div class="form-group mb-3">
              <label for="{{ form.name.id_for_label }}" class="form-label">Name <span style="color: red;">*</span></label>
              {{ form.name }}
            </div>

            <div class="form-group mb-3">
              <label for="{{ form.code.id_for_label }}" class="form-label">Campus Code <span style="color: red;">*</span></label>
              {{ form.code }}
            </div>

            <div class="form-group mb-3">
              <label for="{{ form.location.id_for_label }}" class="form-label">Location <span style="color: red;">*</span></label>
              {{ form.location }}
            </div>

            <div class="form-group mb-3">
              <label for="{{ form.contact.id_for_label }}" class="form-label">Contact Number <span style="color: red;">*</span></label>
              {{ form.contact }}
            </div>

            <div class="form-group mt-3">
              <label class="form-label" for="catIcon">Image</label>
              {% with image=form.instance.image %}
                  {% with name="image" %}
                      {% include 'dashboard/image-picker.html' %}
                  {% endwith %}
              {% endwith %}
            </div>
          <div class="form-group mb-3">
                <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
                {{ form.description }}
            </div> 
          <div class="flex mb-5 ms-3">
            <button type="submit" class="btn btn-success mt-3">Submit</button>
            <a href="{% url 'dashboard:campuslist' %}" class="btn btn-secondary mt-3">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
