{% extends 'dashboard/admin-base.html' %}
{% load static %}
{% block title %}
  Program
{% endblock %}
{% block breadcrumb %}
  Edit Program
{% endblock %}
{% block maintitle %}
  Edit Program
{% endblock %}

{% block content %}
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        {% with messages=messages %}
          {% include 'dashboard/alert.html' %}
        {% endwith %}

        <form method="post" enctype="multipart/form-data" action="{% url 'dashboard:programedit' id=program_id%}">
            {% csrf_token %}

          <div class="form-group mb-3">
            <label for="{{ form.name.id_for_label }}" class="form-label">Program Name <span style="color: red;">*</span></label>
            {{ form.name }}
        </div>

        <div class="form-group mb-3">
            <label for="{{ form.tenure.id_for_label }}" class="form-label">Tenure (Years) <span style="color: red;">*</span></label>
            {{ form.tenure }}
        </div>

        <div class="form-group mb-3">
            <label for="{{ form.academic_plan.id_for_label }}" class="form-label">Academic Plan <span style="color: red;">*</span></label>
            {{ form.academic_plan }}
        </div>

        <div class="form-group mt-3">
              <label class="form-label" for="catIcon">Image</label>
              {% with image=form.instance.image %}
                  {% with name="image" %}
                      {% include 'dashboard/image-picker.html' %}
                  {% endwith %}
              {% endwith %}
        </div>

        <div class="form-group mb-3">
            <label for="{{ form.campus.id_for_label }}" class="form-label">Campus <span style="color: red;">*</span></label>
            {{ form.campus }}
        </div>

        <div class="form-group mb-3">
            <label for="{{ form.department.id_for_label }}" class="form-label">Department <span style="color: red;">*</span></label>
            {{ form.department }}
        </div>

        <div class="form-group mb-3">
            <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
            {{ form.description }}
        </div>

          <div class="flex mb-5 ms-3">
            <button type="submit" class="btn btn-success mt-3">Submit</button>
            <a href="dashboard:programlist" class="btn btn-secondary mt-3">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="{% static 'dashboard/assets/js/program.js' %}"></script>
{% endblock %}
