{% comment %} {% extends 'dashboard/admin-base.html' %}
{% load static %}
{% block title %}
  Add Student
{% endblock %}
{% block breadcrumb %}
  Add Student
{% endblock %}
{% block maintitle %}
  Add Student
{% endblock %}
{% block content %}

{% endblock %} {% endcomment %}

{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admission Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
      .kiosk_template {
        margin: 40px auto;
        position: relative;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .kiosk__template__logo__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .kiosk_template__logo {
        border: 1px dotted #beb8b7;
        border-radius: 20px;
        padding: 0px 40px;
        display: inline-block;
        background-color: white;
        position: absolute;
        top: -35px;
        z-index: 99999;
      }
      .kiosk_template__logo img {
        width: 150px;
        display: block;
        margin: 0px auto;
      }
      .border-box {
        border: 2px solid #1b5c9d;
        width: 100%;
      
        height: 100%;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        position: relative;
        display: flex;
        flex-direction: column;
      }
      .scrollable-form {
        z-index: 555;
        overflow-y: auto;
        flex-grow: 1;
        padding-right: 10px;
      }
      .kiosk__tempalte__footer {
        position: absolute;
        bottom: 0px;
        left: 43%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 15px 40px;
        border: 1px dotted #beb8b7;
        border-radius: 20px;
        z-index: 99999;
      }
      .submit__btn {
        background-color: #1b5c9d;
        margin-left: 10px;
      }
      .submit__btn:hover {
        background-color: #1b5c9d;
        margin-left: 10px;
      }
      
      .fixed-buttons {
        position: sticky;
        bottom: 0;
        background-color: white;
        padding: 15px 0;
        display: flex;
        justify-content: flex-end;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid d-flex justify-content-center align-items-center vh-90 kiosk_template">
      <div class="border-box p-4">
        <!-- Logo -->
        <div class="kiosk__template__logo__wrapper">
          <div class="kiosk_template__logo text-center mb-4">
            <img src="{% static 'dashboard/assets/images/logo.jpg' %}" alt="College Logo" class="img-fluid" />
          </div>
        </div>
        <div class="scrollable-form">
          <form method="POST" action="{% url 'students:kiosk-reg' %}">
            {% csrf_token %}
            {% with messages=messages %}
              {% include 'dashboard/alert.html' %}
            {% endwith %}
            <div class="card-header h3 py-3">Admission Form</div>

            <!-- Campus Overview -->
            <div class="card mt-3">
              <div class="card-header h6">Campus Overview</div>
              <div class="card-body">
                <div class="row">
                  <!-- Campus Field -->
                  <div class="col-md-4 mb-3">
                    <label for="{{ form.student_form.campus.id_for_label }}" class="form-label">Campus</label>
                    {{ form.student_form.campus }}
                    {% include 'parts/error.html' with errors=form.student_form.campus.errors %}
                  </div>
                  <!-- Department Field -->
                  <div class="col-md-4 mb-3">
                    <label for="{{ form.student_form.department.id_for_label }}" class="form-label">Department</label>
                    {{ form.student_form.department }}
                    {% include 'parts/error.html' with errors=form.student_form.department.errors %}
                  </div>
                  <!-- Program Field -->
                  <div class="col-md-4 mb-3">
                    <label for="{{ form.student_form.program.id_for_label }}" class="form-label">Program</label>
                    {{ form.student_form.program }}
                    {% include 'parts/error.html' with errors=form.student_form.program.errors %}
                  </div>
                </div>
              </div>
            </div>

            <!-- Student Info -->
            <div class="card mt-3">
              <div class="card-header h6">Student Info</div>
              <div class="card-body">
                <div class="row">
                  <!-- First Name Field -->
                  <div class="col-md-3 mb-3">
                    <label for="{{ form.user_form.first_name.id_for_label }}" class="form-label">First Name</label>
                    {{ form.user_form.first_name }}
                    {% include 'parts/error.html' with errors=form.user_form.first_name.errors %}
                  </div>
                  <!-- Middle Name Field -->
                  <div class="col-md-2 mb-3">
                    <label for="{{ form.user_form.middle_name.id_for_label }}" class="form-label">Middle Name</label>
                    {{ form.user_form.middle_name }}
                    {% include 'parts/error.html' with errors=form.user_form.middle_name.errors %}
                  </div>
                  <!-- Last Name Field -->
                  <div class="col-md-3 mb-3">
                    <label for="{{ form.user_form.last_name.id_for_label }}" class="form-label">Last Name</label>
                    {{ form.user_form.last_name }}
                    {% include 'parts/error.html' with errors=form.user_form.last_name.errors %}
                  </div>
                  <!-- Title Field -->
                  <div class="col-md-4 mb-3">
                    <label for="{{ form.user_form.email.id_for_label }}" class="form-label">Email</label>
                    {{ form.user_form.email }}
                    {% include 'parts/error.html' with errors=form.user_form.title.errors %}
                  </div>
                </div>
              </div>
            </div>

            <!-- Permanent Address -->
            <div class="card mt-3">
              <div class="card-header h6">Permanent Address</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <label for="{{ form.permanent_address_form.address.id_for_label }}" class="form-label">Address</label>
                    {{ form.permanent_address_form.address }}
                    {% include 'parts/error.html' with errors=form.permanent_address_form.address.errors %}
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="{{ form.permanent_address_form.city.id_for_label }}" class="form-label">City</label>
                    {{ form.permanent_address_form.city }}
                    {% include 'parts/error.html' with errors=form.permanent_address_form.city.errors %}
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="{{ form.permanent_address_form.province.id_for_label }}" class="form-label">Province</label>
                    {{ form.permanent_address_form.province }}
                    {% include 'parts/error.html' with errors=form.permanent_address_form.province.errors %}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <label for="{{ form.permanent_address_form.country.id_for_label }}" class="form-label">Country</label>
                    {{ form.permanent_address_form.country }}
                    {% include 'parts/error.html' with errors=form.permanent_address_form.country.errors %}
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="{{ form.permanent_address_form.postcode.id_for_label }}" class="form-label">Postcode</label>
                    {{ form.permanent_address_form.postcode }}
                    {% include 'parts/error.html' with errors=form.permanent_address_form.postcode.errors %}
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="{{ form.permanent_address_form.contact_number.id_for_label }}" class="form-label">Contact Number</label>
                    {{ form.permanent_address_form.contact_number }}
                    {% include 'parts/error.html' with errors=form.permanent_address_form.contact_number.errors %}
                  </div>
                </div>
              </div>
            </div>

            <!-- Temporary Address -->
            <div class="card mt-3">
              <div class="card-header h6">Temporary Address</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <label for="{{ form.temporary_address_form.address.id_for_label }}" class="form-label">Address</label>
                    {{ form.temporary_address_form.address }}
                    {% include 'parts/error.html' with errors=form.temporary_address_form.address.errors %}
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="{{ form.temporary_address_form.city.id_for_label }}" class="form-label">City</label>
                    {{ form.temporary_address_form.city }}
                    {% include 'parts/error.html' with errors=form.temporary_address_form.city.errors %}
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="{{ form.temporary_address_form.province.id_for_label }}" class="form-label">Province</label>
                    {{ form.temporary_address_form.province }}
                    {% include 'parts/error.html' with errors=form.temporary_address_form.province.errors %}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <label for="{{ form.temporary_address_form.country.id_for_label }}" class="form-label">Country</label>
                    {{ form.temporary_address_form.country }}
                    {% include 'parts/error.html' with errors=form.temporary_address_form.country.errors %}
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="{{ form.temporary_address_form.postcode.id_for_label }}" class="form-label">Postcode</label>
                    {{ form.temporary_address_form.postcode }}
                    {% include 'parts/error.html' with errors=form.temporary_address_form.postcode.errors %}
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="{{ form.temporary_address_form.contact_number.id_for_label }}" class="form-label">Contact Number</label>
                    {{ form.temporary_address_form.contact_number }}
                    {% include 'parts/error.html' with errors=form.temporary_address_form.contact_number.errors %}
                  </div>
                </div>
              </div>
            </div>
            <!-- why us -->
            <div class="card mt-3">
              <div class="card-header h6">Why did you choose Us</div>
              <div class="card-body">
                <div class="row">
                  <!-- Campus Field -->
                  <div class="col-md-4 mb-3">
                    <label for="{{ form.student_form.why_us.id_for_label }}" class="form-label">Why us</label>
                    {{ form.student_form.why_us }}
                    {% include 'parts/error.html' with errors=form.student_form.why_us.errors %}
                  </div>
                  <!-- Department Field -->
                  <div class="col-md-4 mb-3">
                    <label for="{{ form.student_form.why_us_other.id_for_label }}" class="form-label">If other</label>
                    {{ form.student_form.why_us_other }}
                    {% include 'parts/error.html' with errors=form.student_form.why_us_other.errors %}
                  </div>
                </div>
              </div>
            </div>
            <!-- about us -->
            <div class="card mt-3">
              <div class="card-header h6">How did you learn about Us</div>
              <div class="card-body">
                <div class="row">
                  <!-- Campus Field -->
                  <div class="col-md-4 mb-3">
                    <label for="{{ form.student_form.about_us.id_for_label }}" class="form-label">About us</label>
                    {{ form.student_form.about_us }}
                    {% include 'parts/error.html' with errors=form.student_form.about_us.errors %}
                  </div>
                  <!-- Department Field -->
                  <div class="col-md-4 mb-3" id="about-us-other-container" style="display:none;">
                    <label for="{{ form.student_form.about_us_other.id_for_label }}" class="form-label">If other</label>
                    {{ form.student_form.about_us_other }}
                    {% include 'parts/error.html' with errors=form.student_form.about_us_other.errors %}
                  </div>
                </div>
              </div>
            </div>

            <!-- Submit Button -->
            <div class="fixed-buttons">
              <button type="cancle" class="btn btn-danger rounded-pill px-4 py-2">Cancle</button>
              <button type="submit" class="btn rounded-pill text-white px-4 py-2 submit__btn">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="kiosk__tempalte__footer">
      <p class="text-center h6 text text-secondary">www.ismt.edu.np</p>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // Get the dropdown and other field container
        var aboutUsField = document.getElementById('about_us')
        var aboutUsOtherContainer = document.getElementById('about-us-other-container')
        console.log(value)
      
        // Function to toggle visibility
        function toggleAboutUsOther() {
          if (aboutUsField.value === 'OTHER') {
            aboutUsOtherContainer.style.display = 'block'
          } else {
            aboutUsOtherContainer.style.display = 'none'
          }
        }
      })
    </script>
  </body>
</html>
