{% extends 'dashboard/admin-base.html' %}
{% load static %}
{% block title %}Exam Routines{% endblock %}
{% block breadcrumb %}Exam Routines{% endblock %}
{% block maintitle %}Exam Routines{% endblock %}

{% block content %}
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">Add Exam Routine</div>
            <div class="card-body">
                {% with messages=messages %}
                    {% include 'dashboard/alert.html' %}
                {% endwith %}

                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary w-100">{% if form.instance.id %}Update
                        Routine{% else %}Add Routine{% endif %}</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">Program</div>
            <div class="card-body">
                <table
                        class="table ajaxdatatable table-bordered"
                        data-ajax="{% url 'routine_admin:exam_routines' %}"
                >
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Program</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock %}