{% extends "dashboard/admin-base.html" %}
{% load static %}
{% block title %}Routines{% endblock title %}
{% block breadcrumb %}Routines{% endblock breadcrumb %}
{% block maintitle %}Routines{% endblock maintitle %}

{% block content %}
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div id="calendar" data-events-url="{% url 'routine_admin:routine_events' section_id=section_id %}"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <!-- Modal -->
    <div class="modal fade" id="addRoutineModal" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="addRoutineModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addRoutineModalLabel">Routine</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}

                        <div class="row">
                            {% for field in form %}
                                <div class="col-lg-{% if field.name == "start_time" or field.name == "end_time" %}6{% else %}12{% endif %} {% if field.name == "date" %}d-none{% endif %} mb-3">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <small class="form-text text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Add Routine</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script src="{% static 'dashboard/assets/js/routine.js' %}"></script>
{% endblock %}