{% extends "dashboard/admin-base.html" %}
{% load static %}
{% block title %}{{ routine.program.name }} - Routines{% endblock title %}
{% block breadcrumb %}{{ routine.program.name }} - Routines{% endblock breadcrumb %}
{% block maintitle %}{{ routine.program.name }} - Routines{% endblock maintitle %}

{% block rightbutton %}
    <div class="d-flex align-items-center justify-content-end gap-4">
        <div class="text-lg">
            <div><strong>Exam Date:</strong></div>
            <div>{{ routine.start_date|date:"d M" }} - {{ routine.end_date|date:"d M" }}</div>
        </div>

        <div class="text-lg">
            <div><strong>Exam Time:</strong></div>
            <div>{{ routine.start_time|date:"g:i A" }} - {{ routine.end_time|date:"g:i A" }}</div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <div class="card routines_card">
            <div class="card-body">
                {% include 'dashboard/alert.html' %}
                <div
                        id="calendar"
                        data-events-url="{% url 'routine_admin:routine_exam_events' pk=routine.id %}"
                        data-start-date="{{ routine.start_date|date:'Y-m-d' }}"
                        data-end-date="{{ end_date|date:'Y-m-d' }}"
                ></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <!-- Modal -->
    <div class="modal fade" id="addRoutineModal" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="addRoutineModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addRoutineModalLabel">Routine</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}

                        <div class="row">
                            {% for field in form %}
                                <div class="col-lg-{% if field.name == "start_time" or field.name == "end_time" %}6{% else %}12{% endif %} {% if field.name == "date" %}d-none{% endif %} mb-3">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <small class="form-text text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Add Routine</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script src="{% static 'dashboard/assets/js/routine.js' %}"></script>
{% endblock %}