{% extends 'dashboard/bases/student-profile.html' %}
{% load static %}
{% block title %}Student{% endblock %}
{% block breadcrumb %}Student{% endblock %}
{% block maintitle %}Your Record{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <form>
                {% csrf_token %}
                {% with messages=messages %}
                    {% include 'dashboard/alert.html' %}
                {% endwith %}

                <div class="card mb-4">
                    <div class="card-header h5 py-3">Personal Details</div>
                    <div class="card-body">
                        <!-- First Row: Profile Image Centered -->
                        <div class="row justify-content-center">
                            <div class="col-3 text-center">
                                <img src="{{ student.user.profile_image }}" alt="Student Image" class="img-fluid profile-img mb-2">
                                <p><strong>Profile Image</strong></p>
                            </div>
                        </div>
                        
                        <!-- Second Row: Other Attributes -->
                        <div class="row mt-4">
                            <div class="col-4">
                                <p><strong>Full Name:</strong> {{ student.user.get_full_name }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Gender:</strong> {{ personalinfo.gender }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Email:</strong> {{ student.user.email }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Date of Birth:</strong> {{ personalinfo.date_of_birth_in_ad }}</p>
                            </div>
                            <div class="col-7">
                                <p><strong>Citizenship Number:</strong> {{ personalinfo.citizenship_number }}</p>
                            </div>
                            <div class="col-12 text-center">
                                {% if personalinfo.citizenship_img %}
                                    <a href="{{ personalinfo.citizenship_img }}" target="_blank" class="btn btn-primary">
                                        View Document
                                    </a>
                                {% else %}
                                    <p>No Document Available</p>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>


                <div class="card mb-4">
                    <div class="card-header py-3 h5">Permanent Address</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <p><strong>Address:</strong> {{ personalinfo.permanent_address.address }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>City:</strong> {{ personalinfo.permanent_address.city }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Province:</strong> {{ personalinfo.permanent_address.province }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Country:</strong> {{ personalinfo.permanent_address.country }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Postcode:</strong> {{ personalinfo.permanent_address.postcode }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Contact Number:</strong> {{ personalinfo.permanent_address.contact_number }}</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header py-3 h5">Temporary Address</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <p><strong>Address:</strong> {{ personalinfo.temporary_address.address }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>City:</strong> {{ personalinfo.temporary_address.city }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Province:</strong> {{ personalinfo.temporary_address.province }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Country:</strong> {{ personalinfo.temporary_address.country }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Postcode:</strong> {{ personalinfo.temporary_address.postcode }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Contact Number:</strong> {{ personalinfo.temporary_address.contact_number }}</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header h5 py-3">Emergency Contacts</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <p><strong>Name:</strong> {{ personalinfo.emergency_contact.name }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Relationship:</strong> {{ personalinfo.emergency_contact.relationship }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Contact Number:</strong> {{ personalinfo.emergency_contact.contact_number }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Email:</strong> {{ personalinfo.emergency_contact.email }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Address:</strong> {{ personalinfo.emergency_contact.address.address }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>City:</strong> {{ personalinfo.emergency_contact.address.city }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Province:</strong> {{ personalinfo.emergency_contact.address.province }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Country:</strong> {{ personalinfo.emergency_contact.address.country }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Postcode:</strong> {{ personalinfo.emergency_contact.address.postcode }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Contact Number:</strong> {{ personalinfo.emergency_contact.address.contact_number }}</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header py-3 h5">Financial Capacity</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <p><strong>Father's Occupation:</strong> {{ student.father_occupation }}</p>
                            </div>
                            <div class="col-6">
                                <p><strong>Mother's Occupation:</strong> {{ student.mother_occupation }}</p>
                            </div>
                            <div class="col-6">
                                <p><strong>Annual Income:</strong> {{ student.annual_income }}</p>
                            </div>
                            <div class="col-6">
                                <p><strong>Members in Family:</strong> {{ student.members_in_family }}</p>
                            </div>
                        </div>

                    </div>
                </div>
                
                <div class="card mb-4">
                    <div class="card-header py-3 h5">Payment Detail</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <p><strong>Payment By:</strong> {{ student.payment_by }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Organization:</strong> {{ student.organization }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Authorized Person:</strong> {{ student.authorize_person }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Email:</strong> {{ student.email }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Payment Address:</strong> {{ student.payment_address.address }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>City:</strong> {{ student.payment_address.city }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Province:</strong> {{ student.payment_address.province }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Country:</strong> {{ student.payment_address.country }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Postcode:</strong> {{ student.payment_address.postcode }}</p>
                            </div>
                            <div class="col-4">
                                <p><strong>Contact Number:</strong> {{ student.payment_address.contact_number }}</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center py-3 h5">
                        <div class="cards-title">Education History</div>
                    </div>
                    <div class="card-body">
                        <div id="education_history_container" class="table-responsive">
                            <table
                                class="table student-datatable table-bordered"
                                data-ajax="{% url 'students:educational_history_json' pk=student_id %}"
                            >
                                <thead>
                                    <tr>
                                        <th>Degree</th>
                                        <th>Institution</th>
                                        <th>Start Year</th>
                                        <th>End Year</th>
                                        <th>Grade</th>
                                        <th>Action</th> <!-- Add this for the file link -->
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center py-3 h5">
                        <div class="cards-title">English Test Record</div>
                    </div>
                    <div class="card-body">
                        <div id="englishtest_history_container" class="table-responsive">
                            <table
                                class="table student-datatable table-bordered"
                                data-ajax="{% url 'students:english_test_json' pk=student_id%}"
                            >
                                <thead>
                                    <tr>
                                        <th>Test Name</th>
                                        <th>Score</th>
                                        <th>Date</th>
                                        <th>Action</th> <!-- Add Action column -->
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center py-3 h5">
                        <div class="cards-title">Employment History</div>
                    </div>
                    <div class="card-body">
                        <div id="employment_history_container" class="table-responsive">
                            <table class="table table-bordered"
                                data-ajax="{% url 'students:employment_history_json' pk=student_id %}"
                            >
                                <thead>
                                    <tr>
                                        <th>Company</th>
                                        <th>Position</th>
                                        <th>Start Year</th>
                                        <th>End Year</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script src="{% static 'dashboard/assets/js/student_hist.js' %}"></script>
{% endblock %}
