{% extends "dashboard/bases/student-profile.html" %}
{% block title %}Status{% endblock title %}
{% block breadcrumb %}Status{% endblock breadcrumb %}
{% block maintitle %}Student Status{% endblock maintitle %}

{% block content %}

<div class="col-sm-12">
    {% with messages=messages %}
    {% include 'dashboard/alert.html' %}
{% endwith %}
    <div class="card">
        <div class="card-body">
            <div class="student-info">
                <div class="row">
                    <h2>Student Details</h2>
                    <div class="col-6">
                        <p><strong>Name:</strong> {{ student.user.get_full_name }}</p>
                        <p><strong>Student ID:</strong> {{ student.student_id }}</p>
                        <p><strong>Campus:</strong> {{ student.campus.name }}</p>
                        <p><strong>Program:</strong> {{ student.program.name }}</p>
                        <p><strong>Department:</strong> {{ student.department.name }}</p>
                        <p><strong>Email:</strong> {{ student.user.email }}</p>
                    </div>
                    <div class="col-6 text-center">
                        <img src="{{ student.user.profile_image }}" alt="Student Image" class="img-fluid rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
                    </div>
                </div>

            </div>

            <div class="payment-info">
                <h2>Payment Due</h2>
                {% if student.payment_due > 0 %}
                    <p><span>Amount Due:</span> NPR {{ student.payment_due }}</p>
                {% else %}
                    <p><span>Status:</span> All dues cleared</p>
                {% endif %}
            </div>

            <!-- Certificate Selection Section -->
            <div class="certificate-section">
                <h2>Select Certificate</h2>
                <select class="certificate-select" id="certificate_select">
                    <option value="" disabled selected>Select a certificate</option>
                    <option value="transcript">Transcript</option>
                    <option value="recommendation">Recommendation Certificate</option>
                </select>
                <a href="{% url 'students:download_certificate' student_id=student_id %}" class="download-btn" id="downloadBtn">Download <i class="fas fa-download"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}