{% extends "dashboard/bases/base.html" %}
{% load static %}
{% block temp %}

<!-- [ Sidebar Menu ] start -->
<nav class="ps-sidebar">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="" class="b-brand text-primary">
                <img src="{{ website_logo }}" class="img-fluid logo-lg opacity-100 h-full"
                     alt="logo">
            </a>
        </div>
        <div class="navbar-content">
            <div class="card ps-user-card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            {% if request.user.profile_image %}
                                <img src="{{ request.user.profile_image }}" alt="user-image"
                                    class="user-avatar wid-45 rounded-circle" />
                            {% else %}
                                <img src="{% static 'dashboard/assets/images/user.png' %}" alt="default-user-image"
                                    class="user-avatar wid-45 rounded-circle" />
                            {% endif %}
                        </div>
                        <div class="flex-grow-1 ms-3 me-2">
                            {% if request.user.is_authenticated %}
                                <h6 class="mb-0">{{ request.user.get_full_name }}</h6>
                                <small>{{ request.user.role|capfirst }}</small>
                            {% else %}
                                <h6 class="mb-0">Anonymous User</h6>
                                <small>Guest</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <ul class="ps-navbar">
                <li class="ps-item ps-caption">
                    <label>Navigation</label>
                </li>

                <li class="ps-item">
                    <a href="{% url "teacherurl:teacherdashboard" %}" class="ps-link">
                            <span class="ps-micon">
                                <i class="fa fa-home"></i>
                            </span>
                        <span class="ps-mtext">Dashboard</span>
                    </a>
                </li>

                <li class="ps-item">
                    <a href="{% url 'teacherurl:modules' %}" class="ps-link">
                            <span class="ps-micon">
                                <i class="fa-solid fa-book-open"></i>
                            </span>
                        <span class="ps-mtext">Syllabus</span>
                    </a>
                </li>

                <li class="ps-item">
                    <a href="{% url 'teacherurl:class_routines'%}" class="ps-link">
                            <span class="ps-micon">
                                <i class="fa-solid fa-calendar-day"></i>
                            </span>
                        <span class="ps-mtext">Class Routine</span>
                    </a>
                </li>
                <li class="ps-item">
                    <a href="{% url 'assignment:list' %}" class="ps-link">
                            <span class="ps-micon">
                                <i class="fa-solid fa-book-open"></i>
                            </span>
                        <span class="ps-mtext">Assignments</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="ps-menu-overlay d-none"></div>
</nav>
<!-- [ Sidebar Menu ] end -->

{% include "dashboard/bases/topbar.html" %}

<!-- [ Main Content ] start -->
<div class="ps-container">
    <div class="ps-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        {% block beadcumbfull %}
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="">Home</a></li>
                                <li class="breadcrumb-item" aria-current="page">{% block beadcrumb %}
                                    Dashboard{% endblock %}</li>
                            </ul>
                        {% endblock beadcumbfull %}

                        <div class="page-header-title d-block">
                            <h2 class="mb-0">{% block maintitle %}{% endblock maintitle %}</h2>
                        </div>
                    </div>

                    <div class="col-md-6">
                        {% block rightbutton %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->

        <!-- [ Main Content ] start -->
        <div class="row dashboard">
            {% block content %}{% endblock content %}
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
<!-- [ Main Content ] end -->

{% include "dashboard/bases/footer.html" %}

{% endblock temp %}