{% extends 'dashboard/admin-base.html' %}
{% load static %}
{% block title %}
  Edit Modules
{% endblock %}
{% block breadcrumb %}
  Edit Modules
{% endblock %}
{% block maintitle %}
  Edit Modules
{% endblock %}

{% block content %}
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        {% with messages=messages %}
          {% include 'dashboard/alert.html' %}
        {% endwith %}

        <form method="post" enctype="multipart/form-data" action="{% url 'dashboard:modulesedit' id=module_id %}"
        >
          {% csrf_token %}
          <div class="form-group mb-3">
              <label for="{{ form.name.id_for_label }}" class="form-label">Module Name <span style="color: red;">*</span></label>
              {{ form.name }}
          </div>

          <div class="form-group mb-3">
              <label for="{{ form.code.id_for_label }}" class="form-label">Subject Code <span style="color: red;">*</span></label>
              {{ form.code }}
          </div>

          <div class="form-group mb-3">
              <label for="{{ form.credit_hours.id_for_label }}" class="form-label">Credit Hours <span style="color: red;">*</span></label>
              {{ form.credit_hours }}
          </div>

          {% comment %} <div class="form-group mb-3">
              <label for="{{ form.level.id_for_label }}" class="form-label">Level <span style="color: red;">*</span></label>
              {{ form.level }}
          </div> {% endcomment %}

          <div class="form-group mb-3">
              <label for="{{ form.program.id_for_label }}" class="form-label">Program <span style="color: red;">*</span></label>
              {{form.program}}
          </div>

          <div class="form-group mb-3">
              <label for="{{ form.description.id_for_label }}" class="form-label">Description </label>
              {{ form.description }}
          </div>

          <div class="flex mb-5 ms-3">
            <button type="submit" class="btn btn-success mt-3">Submit</button>
            <a href="{% url "dashboard:moduleslist" %} " class="btn btn-secondary mt-3">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
