{% extends "dashboard/admin-base.html" %}
{% block title %}Module{% endblock title %}
{% block breadcrumb %}Module{% endblock breadcrumb %}
{% block maintitle %}Module{% endblock maintitle %}

{% block content %}

<div class="col-sm-12">
    <div class="d-flex justify-content-end mb-2">
         <a href="{% url 'dashboard:modules' %}" class="btn btn-primary mt-3">Add Subject</a>
    </div>
    {% with messages=messages %}
    {% include 'dashboard/alert.html' %}
{% endwith %}
    <div class="card">
        <div class="card-body">
            <div class="dt-responsive">
                <table 
                    class="ajaxdatatable table table-bordered nowrap"
                    data-ajax="{% url 'dashboard:modulesajax' %}"
                    data-nodata="No Data Found"
                >
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Subject Code</th>
                            <th>Credit Hours</th>
                            <th>Level</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}