<div class="modal fade" id="paymentModalToggle" tabindex="-1" aria-labelledby="paymentModalToggleLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paymentModalToggleLabel">Update Fee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="paymentForm" method="post" action="{% url 'payment:update_fee' %}">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" />
                    {{ payment_form.as_p }}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="savePayment">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
