<div class="modal fade" id="paymentModalToggle" aria-hidden="true" aria-labelledby="paymentModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="paymentModalToggleLabel">Update Fee</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="paymentFormContainer"></div>
            </div>
        </div>
    </div>
</div>

