{% extends 'dashboard/admin-base.html' %}
{% block title %}
  Teachers
{% endblock %}
{% block breadcrumb %}
  Teachers
{% endblock %}
{% block maintitle %}
  Teachers
{% endblock %}

{% block rightbutton %}
  <div class="d-flex justify-content-end mb-2">
    <a href="{% url 'teacher:add' %}" class="btn btn-primary mt-3">Add New Teacher</a>
  </div>
{% endblock %}

{% block content %}
  <style>
    .dt-responsive {
      overflow-x: auto;
      white-space: nowrap;
    }
    
    .dt-responsive table th,
    .dt-responsive table td {
      padding: 10px;
      text-align: left;
    }
  </style>

  <div class="col-sm-12">
    {% with messages=messages %}
      {% include 'dashboard/alert.html' %}
    {% endwith %}
    <div class="card">
      <div class="card-body">
        <table class="ajaxdatatable table table-bordered nowrap" data-ajax="{% url 'teacher:ajax' %}" data-nodata="No Data Found">
          <thead>
            <tr>
              <th>Teachers</th>
              <th>Department</th>
              <th>Program</th>
              <th>Actions</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
