{% extends 'dashboard/admin-base.html' %}
{% load static %}

{% block title %}
  Add Department
{% endblock %}

{% block breadcrumb %}
  Add Department
{% endblock %}

{% block maintitle %}
  Add Department
{% endblock %}

{% block content %}
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        {% with messages=messages %}
          {% include 'dashboard/alert.html' %}
        {% endwith %}

        <form method="post" enctype="multipart/form-data" action="{% url 'dashboard:department' %}">
          {% csrf_token %}
          <div class="form-group mb-3">
          <label for="{{ form.name.id_for_label }}" class="form-label">Department Name</label>
          {{ form.name }}
          {% if form.name.errors %}
              <div class="invalid-feedback d-block">{{ form.name.errors }}</div>
          {% endif %}
      </div>

      <div class="form-group mb-3">
          <label for="{{ form.campus.id_for_label }}" class="form-label">Campus</label>
          {{ form.campus }}
          {% if form.campus.errors %}
              <div class="invalid-feedback d-block">{{ form.campus.errors }}</div>
          {% endif %}
      </div>

      <div class="form-group mb-3">
          <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
          {{ form.description }}
          {% if form.description.errors %}
              <div class="invalid-feedback d-block">{{ form.description.errors }}</div>
          {% endif %}
      </div>

      <div class="form-group mt-3">
          <label for="id_items_image">Image</label>
          {% include 'dashboard/image-picker.html' with name="items_image" %}

          {% if form.image.errors %}
              <div class="invalid-feedback d-block">{{ form.image.errors }}</div>
          {% endif %}

          {% if form.instance.image %}
              <div class="mt-2">
                  <img src="{{ form.instance.image.url }}" class="img-fluid" style="max-width: 200px;" alt="Current Image">
              </div>
          {% endif %}
      </div>

          <div class="flex mb-5 ms-3">
            <button type="submit" class="btn btn-success mt-3">Submit</button>
            <a href="{% url 'dashboard:departmentlist' %}" class="btn btn-secondary mt-3">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="{% static 'js/menu.js' %}"></script>
{% endblock %}
