{% extends 'admin-base.html' %}
{% block title %}Delete Objects{% endblock %}
{% block beadcrumb %}Delete Objects{% endblock %}
{% block maintitle %}Delete{% endblock %}

{% block content %}
<div class="col-12">
    <div class="card card-danger card-outline delete_data">
        <div class="card-body">
            <div id="content-main">
                <p>Are you sure you want to delete the selected {{type_title}}? All of the following {{type_title}} and their
                    related items will be deleted:</p>
                <div class="row">
                    <div class="col-12 col-sm-9">
                        <h4>Objects</h4>

                        <ol>
                            {% for object in objects %}
                                <li>
                                    {{object.type}}: <a href="{{object.url}}">{{object.title}}</a>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                    <div class="col-12 col-sm-3">
                        <h4>Summary</h4>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>Total {{type_title}}</td>
                                    <td>{{total}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <hr />
                        <form method="post" action="{% url 'dashboard:deletefinal' %}">
                            {% csrf_token %}
                            
                            {% for object in objects %}
                            <input type="hidden" name="_selected_id" value="{{object.id}}" />
                            {% endfor %}
                            
                            <input type="hidden" name="_selected_type" value="{{type}}" />
                            <input type="hidden" name="_back_url" value="{{back}}" />
                            <div class="form-group mb-2">
                                <input type="submit" class="btn btn-danger w-100 py-2" value="Yes, I’m sure" />
                            </div>

                            {% if back %}
                            <div class="form-group">
                                <a href="{{back}}" class="btn btn-warning w-100 py-2">No, take me back</a>
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}