{% extends "dashboard/admin-base.html" %}
{% block title %}Dashboard{% endblock title %}
{% block breadcrumb %}Dashboard{% endblock breadcrumb %}
{% block content %}

<div class="row">
    {% for key, value in data.items %}
    <div class="col-md-4">
        <div class="card summary card-flush h-md-50 mb-5 mb-xl-10">
            <div class="card-header">
                <div class="card-title d-flex flex-column">   
                    <div class="d-flex align-items-center">
                        <span class="fw-bold me-2 final_value">{{ value }}</span>
                    </div>
                    <span class="text-start text-light">Total {{ key }}</span>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}
