{% extends "dashboard/admin-base.html" %}
{% block title %}Settings{% endblock title %}
{% block beadcrumb %}Settings{% endblock beadcrumb %}
{% block maintitle %}Settings{% endblock maintitle %}

{% block content %}
<div class="setting_container mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body p-0 shadow-sm border-0">
                    <div class="list-group">
                        {% for value, label in tabs.items %}
                        <a type="button" href="{% url 'dashboard:settings' tab=value %}" class="py-3 fw-600 list-group-item  {% if value == active %}active{% endif %} list-group-item-action">
                            {{label}}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="card">
                <div class="card-body shadow-sm border-0">

                    {% if messages %}
                        <div class="mb-3">
                            {% with messages=messages %}
                                {% include 'dashboard/alert.html' %}
                            {% endwith %}
                        </div>
                    {% endif %}


                    <form action="{% url 'dashboard:settings' tab=active %}" method="post">
                        {% csrf_token %}

                        <div class="settings_{{active}} mb-3">
                            {% include 'dashboard/settings/'|add:active|add:'.html' with data=data %}
                        </div>

                        <button type="submit" class="btn btn-primary py-2 px-3">Update Settings</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}