{% extends "mail/base.html" %}

{% block content %}

    {% if first_name %}
        <p style="margin-bottom: 20px;">Dear {{ first_name }},</p>
    {% else %}
        <p style="margin-bottom: 20px;">
            Dear 
            {% if role == "teacher" %}
                Teacher
            {% elif role == "student" %}
                Student
            {% else %}
                User
            {% endif %}
        </p>
    {% endif %}

    <p style="margin-bottom: 20px;">We received a request to reset your password. Click the button below to set a new password.</p>

    <a style="margin-bottom: 20px;" href="{{ reset_link }}" style="display: inline-block; background-color: #007bff; color: white; padding: 10px 20px; margin-bottom: 20px; text-decoration: none; border-radius: 5px;">
        Reset Password
    </a>

    <p style="margin-bottom: 20px;">If you didn't make this request, please ignore this email. Your password won't be changed.</p>

{% endblock %}
